<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Users</title>
</head>
<body>
     <h1>All Users</h1>
     <form action="/add-user" method= "post">
          {% csrf_token %}
          First Name: <input type="text" name="first_name">
          Last Name: <input type="text" name="last_name">
          Email: <input type="text" name="email_address">
          Age: <input type="text" name="age">
          <button>Submit</button>
     </form>

     <h2>User Information</h2>
     <table style="width:100%">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
          </tr>
          {% for user in all_users %}
          <tr>
          <td>{{ user.first_name }} {{ user.last_name }} </td>
          <td>{{ user.email_address }} </td>
          <td>{{ user.age }}</td>
          </tr>
          {% endfor %}
        </table>
</body>
</html>